$base-font-size: 16px;
$base-font-family: "Inter", sans-serif;
$base-font-family2: "Poppins", sans-serif;

$base-font-color: #404256;
$base-background: #f7f8fc;
$blue: #1e3e85;
$blue2: #52b4da;
$blue3: #0049c6;
$blue4: #11142d;
$blue5: #3F8CFF;
$blue6: #E7FAFF;
$white1: #e1e3fc;
$gray: #808191;
$gray2: #E4E4E4;
$gray3: #9A9BA3;
$gray4: #e1e3f2;
$green: #7FBA7A;
$gold: #FFCE73;

$box-shadow: 0 5px 10px rgba(154, 160, 185, 0.1),
  0 15px 40px rgba(166, 173, 201, 0.3);
$box-shadow2: 0 20px 0 -13px rgba(255, 255, 255, 0.5),
  0 5px 10px rgba(154, 160, 185, 0.1), 0 15px 40px rgba(166, 173, 201, 0.3);
